{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anser Ali | Meet the Best Web Developer all the Time</title>
    <link rel="stylesheet" href={% static 'css/style.css'%} />
    <!-- <link rel="stylesheet" href="/static/css/style.css" /> -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="/static/media/bulb.png" />
    <script
      src="https://kit.fontawesome.com/cc165ef527.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body style="overflow-x: hidden !important">
    <div class="menu" id="menu">
      <input
        type="button"
        value=""
        class="menucrossbtn"
        onclick="closemenu()"
        id="menucrossbtn"
      />
      <div class="menubox">
        <ul>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">Blog</a></li>
          <li>
            <a href="#"><button class="btn-main">Let's Talk</button></a>
          </li>
          <div class="cursor" id="cursor"></div>
        </ul>
      </div>
    </div>

    <header class="header">
      <nav class="navbar">
        <h1 class="logo" id="logo">Anser Ali</h1>
        <div class="menubar">
          <input type="button" value="" onclick="showmenu()" class="menubtn" />
        </div>
      </nav>
    </header>
    <div class="container-fluid main_container m-0 p-0">
      <section class="container-fluid section section1 row space-between m-0">
        <div class="container-fluid row wraper" id="container1">
          <div class="col left left1">
            <!-- <img src="/static/media/shape_1.png" alt="" class="boximg"> -->
            <div class="content col">
              <h1>I bring <span class="">ideas </span>to web.</h1>
              <p class="aboutpara">
                Transforming complex ideas into elegant and scalable front-end
                solutions.
              </p>
              <input
                type="button"
                value="View My Work"
                class="btn-main workbtn"
              />
              <div class="socialarea">
                <img src="/static/media/twitter_2.svg" alt="" class="social1" />
                <a href="" class="sociallinks">TWITTER</a>
                <img src="/static/media/github_2.svg" alt="" class="social" />
                <a href="" class="sociallinks">GITHUB</a>
                <img src="/static/media/linkedin_2.svg" alt="" class="social" />
                <a href="#" class="sociallinks">LINKEDIN</a>
              </div>
            </div>
          </div>
          <div class="col right">
            <div class="blob"></div>
            <img src="/static/media/hero-1.png" alt="" />
          </div>
        </div>
      </section>
      <section
        class="container-fluid section section3 section1 row space-between m-0 py-50"
        id="whatido"
        style="height: auto !important"
      >
        <img src="/static/media/circle_2.png" alt="" class="circle" />
        <img src="/static/media/circle_2.png" alt="" class="circle2" />
        <div class="widdiv">
          <div class="container d-flex justify-content-center skillbox">
            <div class="dbox">
              <label for="" class="dot"></label>
              <label for="" style="height: 30px">What I Do</label>
            </div>
            <h1>My <span class="serword">Services</span></h1>
            <label for="" id="des" class="widpara"
              >As a Frontend developer, My goal is to create
              <label for="">visually appealing </label> and
              <label for="">user-friendly</label><br />
              interfaces that meet the needs of the client and their
              users.</label
            >
          </div>
        </div>
        <div class="wcid container services grid text-center wrap">
          <div class="scard col-lg-6 scard1">
            <img src="/static/media/website.svg" alt="" class="webimg" />
            <h3>Website Development</h3>
            <p>
              I develop Clean, Responsive, & Pixel perfect Frontend of Websites
              that converts like crazy. I develop website features that enhance
              the user experience.
            </p>
          </div>
          <div class="scard col-lg-6">
            <img src="/static/media/webapp.svg" alt="" />
            <h3>Webapp Development</h3>
            <p>
              Complex, innovative, responsive, and user-centric web application
              solutions with close attention to detail that results in the
              increase in conversions and sales.
            </p>
          </div>
          <div class="scard col-lg-6">
            <img src="/static/media/maintainance.svg" alt="" />
            <h3>Maintainance</h3>
            <p>
              I make ongoing updates and improvements to websites or
              applications to ensure it remains up to date and user-friendly.
            </p>
          </div>
          <div class="scard col-lg-6">
            <img src="/static/media/responsive.svg" alt="" />
            <h3>Responsive Design</h3>
            <p>
              I make websites and apps that are mobile-savvy. Ensuring that it
              looks and functions correctly on different devices and screen
              sizes.
            </p>
          </div>
          <div class="scard col-lg-6">
            <img src="/static/media/api.svg" alt="" />
            <h3>API Integration</h3>
            <p>
              API integration can be a complex process. I have a good
              understanding of HTTP, JSON, and API design principles to be able
              to effectively integrate with APIs.
            </p>
          </div>
          <div class="scard col-lg-6">
            <img src="/static/media/seo.svg" alt="" />
            <h3>SEO Friendly Websites</h3>
            <p>
              If a website is not optimized for search engines, it may be
              difficult for users to find the site through search results. I
              ensure that the websites I create are SEO friendly.
            </p>
          </div>
        </div>
      </section>
      <section
        class="container-fluid section section3 section1 row space-between m-0 py-50 cwsection"
        style="height: auto !important; background: white"
      >
        <div
          class="container d-flex justify-content-center porfoliodiv cwsection"
        >
          <div class="bulb">
            <img src="/static/media/bulb.png" alt="" />
          </div>
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">Portfolio</label>
          </div>
          <h1 id="pboxh"><span>Creative</span> Work</h1>
          <div class="container-fluid text-center cwsection">
            <div class="row cworkimg">
              <img src="/static/media/image1.png" alt="" class="col" />
              <img src="/static/media/image2.png" alt="" class="col" />

              <img src="/static/media/image3.png" alt="" class="col" />
              <img src="/static/media/image4.png" alt="" class="col" />
            </div>
            <div class="allworkbtn container">
              <input
                type="button"
                value="View All Work"
                class="btn-main workbtn alwbtn"
              />
            </div>
          </div>
        </div>
      </section>
      <section
        class="container-fluid section section3 section1 row space-between m-0 p-0 cwsection"
        style="height: auto !important; background: #f7f8fd"
      >
        <div
          class="container d-flex justify-content-center porfoliodiv cwsection tesdiv"
        >
          <div class="bulb">
            <img src="/static/media/typing.png" alt="" />
          </div>
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">Testimonial</label>
          </div>
          <h1 id="pboxh"><span>Happy</span> Clients Says</h1>
          <div class="containertes">
            <div class="card">
              <div class="image">
                <img src="/static/media/img1.jpg" alt="" />
              </div>
              <h2>Techy Explorers</h2>
              <p>
                Anser is an Skilled developer.I enjoyed working with him and I
                would be very happy to work with him again.
              </p>
            </div>

            <div class="card">
              <div class="image">
                <img src="/static/media/img3.jpg" alt="" />
              </div>
              <h2>Yusuf Hassan</h2>
              <p>
                Anser is capable, supportive and hard working developer. He
                explained his process and completed work efficiently.
              </p>
            </div>
            <div class="card">
              <div class="image">
                <img src="/static/media/img5.jpg" alt="" />
              </div>
              <h2>Karen Tutor</h2>
              <p>
                Freelancer did beautiful design work. quickly, accurately and
                with great quality code.I highly recommend him and hope to work
                with him.
              </p>
            </div>
            <div class="card">
              <div class="image">
                <img src="/static/media/img2.jpg" alt="" />
              </div>
              <h2>Yaniv Aviran</h2>
              <p>
                Anser is a great developer and an awesome person. Delivered more
                than I asked for. Highly recommended.
              </p>
            </div>
          </div>
          <div class="balldiv">
            <img src="/static/media/ball_1.png" alt="" class="ball" />
          </div>
        </div>
      </section>
      <section
        class="container-fluid section section3 section1 row space-between my-5 py-5 cwsection"
        style="height: auto !important; background: #ffff"
      >
        <div
          class="container d-flex justify-content-center porfoliodiv cwsection tesdiv"
        >
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">About me</label>
          </div>
          <div class="rowdiv">
            <div class="profile">
              <img src="/static/media/img6.jpg" alt="" />
            </div>
            <div class="aboutme">
              <h2>Anser Ali</h2>
              <small>Web Developer</small>
              <p>
                I'm a Web developer, working in web development industry for
                over 3 years. I'm dedicated to developing & optimizing
                interactive, user-friendly, and feature rich websites and
                applications. I'm also proficient in troubleshooting complex
                issues, and implementing new features. If you are a business
                seeking a web presence or an employer looking to hire, feel free
                to get in touch.
              </p>
              <h6>Expertise:</h6>
              <span> Frontend Web Development</span><br />
              <h6>Experience:</h6>
              <span> 3 Years</span><br />
              <h6>E-mail:</h6>
              <span> ansranser@gmail.com</span>
            </div>
            <div class="mysocials">
              <a href="">
                <img src="/static/media/twitter_white.svg" alt="" class="simg1"
              /></a>
              <a href="">
                <img
                  src="/static/media/linkedin_white.svg"
                  alt=""
                  class="simg2"
              /></a>
              <a href="">
                <img src="/static/media/github_4.svg" alt="" class="simg3"
              /></a>
            </div>
          </div>
        </div>
      </section>
      <section
        class="container-fluid section1 row grid section2 m-0 p-20"
        style="height: 650px"
      >
        <img src="/static/media/bucket.png" alt="" class="bucket" />
        <div class="">
          <div class="container d-flex justify-content-center skillbox">
            <div class="dbox">
              <label for="" class="dot"></label>
              <label for="" style="height: 30px">I'm Expert In</label>
            </div>
            <h1>Skills</h1>
            <label for="" id="des"
              >I have been working in web development industry for over
              <label for="">3 years</label>.</label
            >
            <div class="skillsarea container wrap row">
              <img src="/static/media/html.svg" alt="" class="col-4" />
              <img src="/static/media/css3.svg" alt="" class="col-4" />
              <img src="/static/media/javascript.svg" alt="" class="col-4" />
              <img src="/static/media/reactjs.svg" alt="" class="col-4" />
              <img src="/static/media/firebase.svg" alt="" class="col-4" />
              <img src="/static/media/git.svg" alt="" class="col-4" />
            </div>
          </div>
        </div>
      </section>
      <section
        class="container-fluid section1 row grid section2 m-0"
        style="background: #f7f8fd; height: auto !important"
      >
        <div
          class="container d-flex justify-content-center porfoliodiv cwsection tesdiv"
          style="height: auto"
        >
          <div class="bulb">
            <img src="/static/media/typing_2.png" alt="" />
          </div>
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">Blog & Article</label>
          </div>
          <h1 id="pboxh">Recent <span>blog</span> post</h1>
          <div class="container blogarea">
            <div class="leftblog">
              <img src="/static/media/masterweb.jpg" alt="" class="lbimg" />
              <label for="">WEB DEVELOPMENT</label>
              <h2>
                Master Web Development with Building Projects - The Top-Rated
                Learning Method
              </h2>
              <p>
                Are you ready to take your web development skills to the next
                level? If so, Building Projects is the perfect learning method
                for you.
              </p>
            </div>
            <div class="rightblog">
              <img src="/static/media/webcoding.jpg" alt="" class="rbimg" />
              <label for="">WEB DEVELOPMENT</label>
              <h2>
                Master Web Development with Building Projects - The Top-Rated
                Learning Method
              </h2>
              <p>
                Are you ready to take your web development skills to the next
                level? If so, Building Projects is the perfect learning method
                for you.
              </p>
            </div>
          </div>
          <div class="blogbtn">
            <input
              type="button"
              value="View All Blogs"
              class="btn-main workbtn"
            />
          </div>
        </div>
      </section>
      <section
        class="container-fluid section1 row grid section2 m-0"
        style="height: auto !important"
      >
        <div
          class="container d-flex justify-content-center contact porfoliodiv cwsection tesdiv"
        >
          <div class="bulb">
            <img src="/static/media/spiral.png" alt="" />
          </div>
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">Contact me</label>
          </div>
          <h1 id="pboxh" style="color: #ffff; display: inline-block">
            Let's build something together
            <img
              src="/static/media/handshake.svg"
              alt=""
              style="height: 50px"
            />
          </h1>
          <label for="" id="des"
            >More than <label for=""> 3 years</label> in the game and just
            getting started.</label
          >
        </div>
        <div class="container-fluid">
          <div class="container contactdiv">
            <input type="text" id="nme" placeholder="Enter your name" />
            <input type="text" id="emi" placeholder="Enter your e-mail" />
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Enter your message"
            ></textarea>
            <button class="btn-main msgbtn">Send Message</button>
          </div>
        </div>

        <footer class="footer">
          <div class="directcontct">
            <h6>
              <img src="/static/media/atSign_grey.svg" alt="" class="atsign" />
              ansranser@gmail.com
            </h6>
            <h1>|</h1>
            <h6>
              <img src="/static/media/phone_grey.svg" alt="" class="phone" />
              +92 3247085009
            </h6>
          </div>
          <div class="socialmeet">
            <a href=""><img src="/static/media/twitter_white.svg" alt="" /></a>
            <a href=""><img src="/static/media/linkedin_white.svg" alt="" /></a>
            <a href=""><img src="/static/media/github_4.svg" alt="" /></a>
          </div>
        </footer>
      </section>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <script src="/static/script.js"></script>

    <script>
      const cursor = document.querySelector(".cursor");
      document.addEventListener("mousemove", (e) => {
        cursor.style.left = e.pageX + "px";
        cursor.style.top = e.pageY + "px";
      });

      const menubar = document.getElementById("menu");
      function showmenu() {
        menubar.style.visibility = "visible";
        menubar.style.top = "0px";
        menubar.style.right = "0px";
      }
      function closemenu() {
        console.log("clicked");
        menubar.style.top = "-100%";
        menubar.style.right = "0%";
      }
    </script>
  </body>
</html>
